<% include ../partials/header %>
<% include ../partials/navbar %>
<h1 class="display-5 m-4 text-center font-weight-bolder">Project Details</h1>
<div class=" container bg-light form p-3 mb-5">

<% include ../partials/detailbar %>
        <div id="page-content-wrapper">
            <div class="mt-4">
            </div>
            <div class="container-fluid">
            
                <div class="card" ">
                    <ul class="list-group list-group-flush">
                        <% activities.forEach(activity => { %>
                            <li class="list-group-item"><%= activity.tanggal %> <%= activity.subject %> #<%= activity.issueid %>(<%= activity.status %>) || author : <%= activity.firstname %></li>
                       <% }) %>
                    </ul>
                  </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<% include ../partials/footer %>