<%- include('../partials/header'); %>

<body>
  <%- include('../partials/navbar'); %>
  <h1 class="display-5 m-4 text-center font-weight-bolder">Project Details</h1>
  <div class=" container bg-light form p-3 mb-5">
    <%- include('../partials/detailbar') %>
  
      <ul class="list-group list-group-flush mt-4 shadow-sm border-0">
        <li class="list-group-item border-0 font-weight-bolder">Issues Tracking</li>
          <li class="list-group-item border-0"><%= issues[0].tracker %> : <%= issues[0].supportopen %> open / <%= issues[0].totalsupport %></li>
          <li class="list-group-item border-0"><%= issues[1].tracker %> : <%= issues[1].featureopen %> open / <%= issues[1].totalfeature %></li>
          <li class="list-group-item border-0"><%= issues[2].tracker %> : <%= issues[2].bugopen %> open / <%= issues[2].totalbug %></li>
      </ul>

    <ul class="list-group list-group-flush mt-4 shadow-sm border-0">
      <li class="list-group-item border-0 font-weight-bolder">Members</li>
     <% members.forEach(member => { %>
      <li class="list-group-item border-0"><%= member.fullname %></li>
      <% }) %>
    </ul>
  </div>
</body>
<%- include('../partials/footer'); %>