<%- include('../../partials/header'); %>

<body>
  <%- include('../../partials/navbar'); %>
  <h1 class="display-5 m-4 text-center font-weight-bolder">Project Details</h1>
  <div class=" container bg-light form p-3 mb-5">

<% include ../../partials/detailbar %>
    <form action="" method="get" class="mt-4">
      <label for="" class="font-weight-bold">ID</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" name="cfid" value="true" <%= query.cfid == 'true' ? 'checked' : '' %>>
          </div>
        </div>
        <input type="text" class="form-control" name="id" value="<%= query.id %>" placeholder="ID">
      </div>
      <label for="" class="font-weight-bold">Name</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" name="cfname" value="true" <%= query.cfname == 'true' ? 'checked' : '' %>>
          </div>
        </div>
        <input type="text" class="form-control" name="name" value="<%= query.name %>" placeholder="Members Name">
      </div>
      <label for="" class="font-weight-bold">Position</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" name="cfposition" value="true" <%= query.cfposition == 'true' ? 'checked' : '' %>>
          </div>
        </div>
        <select class="form-control" name="position" id="">
          <option value="" disabled selected>Choose Position..</option>
          <option value="Manager" <% query.position == 'Manager' ? 'selected' : '' %>>Manager</option>
          <option value="Software Developer" <% query.position == 'Manager' ? 'selected' : '' %>>Software Developer</option>
          <option value="Quality Assurance" <% query.position == 'Manager' ? 'selected' : '' %>>Quality Assurance</option>
        </select>
      </div>
      <button type="submit" class="btn btn-outline-primary font-weight-bold">Search</button>
      <a href="/projects/members/<%= projectid %>" class="btn btn-warning"> Reset</a>
    </form>
    <hr>
    <form action="/projects/members/<%= projectid %>" method="post">
      <p class="font-weight-bold">Options</p>
      <div class="input-group mb-3 text-center">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <input type="checkbox" name="cpid" value="true" <%= options.cpid == 'true' ? 'checked' : '' %>>&nbsp<b>ID</b>
          </div>
          <div class="input-group-text bg-white">
            <input type="checkbox" name="cpname" value="true" <%= options.cpname ==  'true' ? 'checked' : '' %>>&nbsp<b>Name</b>
          </div>
          <div class="input-group-text bg-white rounded-right">
            <input type="checkbox" name="cpposition" value="true" <%= options.cpposition == 'true' ? 'checked' : ''%>>&nbsp<b>Position</b>
          </div><br>
        </div>
      </div>
      <button type="submit" class="btn btn-outline-primary font-weight-bold">Apply</button>
    </form>
    <hr>
    <a href="/projects/add" class=" btn btn-info list-inline"><i class="list-inline-item" data-feather="plus-square"></i>
      Member</a>
    <br>
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <% if(options.cpid) { %><th scope="col">ID</th> <% } %>
          <% if(options.cpname) { %> <th scope="col">Name</th> <% } %>
          <% if(options.cpposition) { %><th scope="col">Position</th> <% } %>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% members.forEach(member => { %>
        <tr>
          <% if(options.cpid) { %><th scope="row"><%= member.userid%></th><% } %>
          <% if(options.cpname) { %><td><%= member.fullname%></td><% } %>
            <% if(options.cpposition) { %><td><%= member.role == null ? 'No Position' : member.role %></td><% } %>
          <td><a href='/projects/edit/'class="btn btn-outline-success">Edit</a>&nbsp<a
              href='/projects/delete/'class="btn btn-outline-danger">Delete</a></td>
        </tr>

      <% }) %>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item <%= currentPage <= 1 ? 'disabled' : ''%>">
          <a class="page-link" href="<%=url.replace(`page=${currentPage}`,`page=${parseInt(currentPage) - 1}`)%>"
            tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <% for(let i = 1; i <= totalPages; i++){ %>
        <li class="page-item <%= currentPage == i ? 'active':''%>"><a class="page-link"
            href="<%=url.replace(`page=${currentPage}`,`page=${i}`)%>"><%= i %></a></li>
        <% } %>
        <li class="page-item <%= currentPage >= totalPages ? 'disabled' : ''%>">
          <a class="page-link"
            href="<%=url.replace(`page=${currentPage}`,`page=${parseInt(currentPage) + 1}`)%>">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</body>
<%- include('../../partials/footer'); %>