<%- include('../partials/header') %>

<body>
    <%- include('../partials/navbar.ejs') %>
    <br>
    <div>
        <h1 class="display-5 text-center font-weight-bolder" style="margin-bottom: 20px">Edit Projects</h1>
        <div class=" container bg-light p-3 mb-5 form">
            <form action="/projects/edit/<%= projects[0].projectid %>" method="post">
                <label for="" class="font-weight-bold">Name</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="name" placeholder="Name" value="<%= projects[0].name %>">
                </div>
                <div class="row">
                    <div class="col-1">
                        <p class="font-weight-bold">Members</p>
                    </div>
                    <div class="col-6">
                        <% users.forEach((user, index) =>{ %>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck<%= index %>" value="<%= user.userid %>" name="members" <%= members.includes(user.userid) ? 'checked' : '' %>>
                                    <label class="custom-control-label" for="customCheck<%= index %>" name=""><%= user.fullname %></label>
                                </div>
                        <% }) %>
                       
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-outline-success font-weight-bold">Save</button> <a
                    href="/projects/" class="btn btn-outline-danger font-weight-bold">Cancel</a>
            </form>
        </div>
        <br>

</body>
<%- include('../partials/footer'); %>