<%- include('../partials/header'); %>

<body>
  <%- include('../partials/navbar'); %>
  <h1 class="display-5 m-4 text-center font-weight-bolder">Users</h1>
  <div class=" container bg-light form p-3 mb-5">
    <h1 class="display-5 m-2 ">Filters</h1>
    <hr>
    <form action="" method="get">
      <label for="" class="font-weight-bold">ID</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" name="cfid" value="true" <%= query.cfid == 'true' ? 'checked' : ''%>>
          </div>
        </div>
        <input type="text" class="form-control" name="id" value="<%=query.id%>" placeholder="ID">
      </div>
      <label for="" class="font-weight-bold">E-mail</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" name="cfemail" value="true" <%= query.cfemail == 'true' ? 'checked' : ''%>>
          </div>
        </div>
        <input type="text" class="form-control" name="email" value="<%=query.email%>" placeholder="E-mail">
      </div>
      <label for="" class="font-weight-bold">Name</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" name="cfname" value="true" <%= query.cfname == 'true' ? 'checked' : ''%>>
          </div>
        </div>
        <input type="text" class="form-control" name="name" value="<%=query.name%>" placeholder="Name" >
      </div>
      <label for="" class="font-weight-bold">Position</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" name="cfposition" value="true" <%= query.cfposition == 'true' ? 'checked' : ''%>>
          </div>
        </div>
        <select class="form-control" name="position" id="">
          <option value="" disabled selected>Choose Position...</option>
          <option value="Manager" <%=query.position == 'Manager' ? 'selected':''%>>Manager</option>
          <option value="Software Developer" <%=query.position == 'Software Developer' ? 'selected':''%>>Software Developer</option>
          <option value="Quality Assurance" <%=query.position == 'Quality Assurance' ? 'selected':''%>>Quality Assurance</option>
        </select>
      </div>
      <label for="" class="font-weight-bold">Type of Job</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" name="cftypeofjob" value="true" <%= query.cftypeofjob == 'true' ? 'checked' : ''%>>
          </div>
        </div>
        <select class="form-control" name="typeofjob" id="">
          <option value="" disabled selected>Choose Type of Job...</option>
          <option value="true" <%=query.typeofjob == 'true' ? 'selected':''%>>Full-Time</option>
          <option value="false" <%=query.typeofjob == 'false' ?  'selected':''%>>Part-Time</option>
        </select>
        </div>
        <label for="" class="font-weight-bold">Status</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" name="cfstatus" value="true" <%= query.cfstatus == 'true' ? 'checked' : ''%>>
            </div>
          </div>
          <select class="form-control" name="status" id="">
            <option value="" disabled selected>Choose Status...</option>
            <option value="true" <%=query.status == 'true' ? 'selected':''%>>Active</option>
            <option value="false" <%=query.status == 'false' ? 'selected':''%>>Non-Active</option>
          </select>
        </div>
      <button type="submit" class="btn btn-outline-primary font-weight-bold">Search</button>
      <a href="/users" class="btn btn-warning">Reset</a>
    </form>
    <hr>
    <form action="/" method="post">
      <p class="font-weight-bold">Options <br> <small class="text-muted">Uncheck to hide the Column</small></p>
      <div class="input-group mb-3 text-center">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <input type="checkbox" name="cpid" value="" checked>&nbsp<b>ID</b>
          </div>
          <div class="input-group-text bg-white">
            <input type="checkbox" name="cpname" value="" checked>&nbsp<b>E-mail</b>
          </div>
          <div class="input-group-text bg-white rounded-right">
            <input type="checkbox" name="cpmember" value="" checked>&nbsp<b>Name</b>
          </div>
          <div class="input-group-text bg-white rounded-right">
            <input type="checkbox" name="cpmember" value="" checked>&nbsp<b>Position</b>
          </div>
          <div class="input-group-text bg-white rounded-right">
            <input type="checkbox" name="cpmember" value="" checked>&nbsp<b>Type of Job</b>
          </div>
          <br>
        </div>
      </div>
      <button type="submit" class="btn btn-outline-primary font-weight-bold">Apply</button>
    </form>
    <hr>
    <a href="/users/add" class=" btn btn-info list-inline"><i class="list-inline-item" data-feather="plus-square"></i> Users</a>
    <br>
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">E-mail</th>
          <th scope="col">Name</th>
          <th scope="col">Position</th>
          <th scope="col">Type Of Job</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
          <% users.forEach(user => { %>
            <tr>
                <th scope="row"> <a href=""><%= user.userid %></a></th>
                <td><%= user.email %></td>
                <td><%= user.firstname + ' ' + user.lastname %></td>
                <td><%= user.position %></td>
                <td><%= user.isfulltime == true ? 'Fulltime' : 'Parttime' %></td>
                <td><%= user.isactive == true ? 'Active' : 'Non-Active' %></td>
                <td><a href='/users/edit/<%= user.userid %>'class="btn btn-outline-success">Edit</a>&nbsp
                  <a href='/users/activation/<%= user.userid %>/<%= user.isactive == false ? true : false %>'class="btn btn-outline-danger"><%= user.isactive == false ? 'Activate' : 'Deactivate' %></a></td>
              </tr>
          <% }); %>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item <%= currentPage <= 1 ? 'disabled' : ''%>">
          <a class="page-link" href="<%=url.replace(`page=${currentPage}`,`page=${parseInt(currentPage) - 1}`)%>" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <% for(let i = 1; i <= totalPages; i++){ %>
        <li class="page-item <%= currentPage == i ? 'active':''%>"><a class="page-link" href="<%=url.replace(`page=${currentPage}`,`page=${i}`)%>"><%= i %></a></li>
        <% } %>
        <li class="page-item <%= currentPage >= totalPages ? 'disabled' : ''%>">
          <a class="page-link" href="<%=url.replace(`page=${currentPage}`,`page=${parseInt(currentPage) + 1}`)%>">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</body>
<%- include('../partials/footer'); %>