<%- include('../../partials/header'); %>

<body>
  <%- include('../../partials/navbar'); %>
  <h1 class="display-5 m-4 text-center font-weight-bolder">Add Issues</h1>
  <div class=" container bg-light form p-3 mb-5">
    <%- include('../../partials/detailbar'); %>
    <form action="/projects/issues/<%= projectid %>/add" method="post" class="mt-4">
      <p class="font-weight-bold">Tracker</p>
      <div class="input-group mb-3 text-center">
        <div class="input-group-prepend">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="tracker1" name="tracker" value='Bug'>
            <label class="custom-control-label" for="tracker1">Bug</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="tracker2" name="tracker" value='Feature'>
            <label class="custom-control-label" for="tracker2">Feature</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="tracker3" name="tracker" value='Support'>
            <label class="custom-control-label" for="tracker3">Support</label>
          </div>
        </div>
      </div>
      <label for="" class="font-weight-bold">Subject</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="subject" placeholder="Subject">
      </div>
      <label for="" class="font-weight-bold">Description</label>
      <div class="input-group mb-3">
        <textarea type="area" class="form-control" name="description"></textarea>
      </div>
      <p class="font-weight-bold">Status</p>
      <div class="input-group mb-3 text-center">
        <div class="input-group-prepend">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="status1" name="status" value='New' checked>
            <label class="custom-control-label" for="status1">New</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="status2" name="status" value='In Progress' disabled>
            <label class="custom-control-label" for="status2">In Progress</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="status3" name="status" value='Feedback' disabled>
            <label class="custom-control-label" for="status3">Feedback</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="status4" name="status" value='Resolved' disabled>
            <label class="custom-control-label" for="status4">Resolved</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="status5" name="status" value='Closed' disabled>
            <label class="custom-control-label" for="status5">Closed</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="status6" name="status" value='Rejected' disabled>
            <label class="custom-control-label" for="status6">Rejected</label>
          </div>
        </div>
      </div>
      <p class="font-weight-bold">Priority</p>
      <div class="input-group mb-3 text-center">
        <div class="input-group-prepend">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="priority1" name="priority" value='Normal'>
            <label class="custom-control-label" for="priority1">Normal</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="priority2" name="priority" value='High'>
            <label class="custom-control-label" for="priority2">High</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="priority3" name="priority" value='Urgent'>
            <label class="custom-control-label" for="priority3">Urgent</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="priority4" name="priority" value='Immediate'>
            <label class="custom-control-label" for="priority4">Immediate</label>
          </div>
        </div>
      </div>
      <label for="" class="font-weight-bold">Assignee</label>
      <div class="input-group mb-3">
        <select class="form-control" name="assignee" id="">
          <option value="" disabled selected>Choose Assignee..</option>
          <option value="test asigne">asigne</option>
        </select>
      </div>
      <label for="" class="font-weight-bold">Start Date</label>
      <div class="input-group mb-3">
        <input type="date" class="form-control" name="startdate">
      </div>
      <label for="" class="font-weight-bold">Due Date</label>
      <div class="input-group mb-3">
        <input type="date" class="form-control" name="duedate">
      </div>
      <label for="" class="font-weight-bold">Estimate Time</label>
      <div class="input-group mb-3">
        <input type="number" class="form-control" name="estimatetime" placeholder="Hours Format">
      </div>
      <label for="" class="font-weight-bold">Done(%)</label>
      <div class="input-group mb-3">
        <select class="form-control" name="done" id="">
          <option value="" disabled selected>Choose Percentage..</option>
          <option value="0">0%</option>
          <option value="10">10%</option>
          <option value="20">20%</option>
          <option value="30">30%</option>
          <option value="40">40%</option>
          <option value="50">50%</option>
          <option value="60">60%</option>
          <option value="70">70%</option>
          <option value="80">80%</option>
          <option value="90">90%</option>
          <option value="100">100%</option>
        </select>
      </div>
      <label for="" class="font-weight-bold">File</label>
      <div class="custom-file mb-3">
        <input type="file" class="custom-file-input" id="customFile" name='file'>
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
      <button type="submit" class="btn btn-outline-success font-weight-bold">Save</button>
      <a href="/projects/issues/<%= projectid %>" class="btn btn-outline-danger"> Cancel</a>
      <a href="/projects/issues/<%= projectid %>/add" class="btn btn-warning"> Reset</a>
    </form>
  </div>
</body>
<%- include('../../partials/footer'); %>