<%- include('../../partials/header'); %>

<body>
  <%- include('../../partials/navbar'); %>
  <h1 class="display-5 m-4 text-center font-weight-bolder">Project Details</h1>
  <div class=" container bg-light form p-3 mb-5">

<% include ../../partials/detailbar %>
    <form action="/" method="post" class="mt-4">
      <label for="" class="font-weight-bold">ID</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" name="cfid" value="true">
          </div>
        </div>
        <input type="text" class="form-control" name="id" value="" placeholder="ID">
      </div>
      <label for="" class="font-weight-bold">Subject</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" name="cfsubject" value="">
          </div>
        </div>
        <input type="text" class="form-control" name="subject" value="" placeholder="Subject">
      </div>
      <label for="" class="font-weight-bold">Tracker</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" name="cftracker" value="">
          </div>
        </div>
        <select class="form-control" name="tracker" >
          <option value="">Choose Position..</option>
        </select>
      </div>
      <label for="" class="font-weight-bold">Done (%) (ini bisa aja nanti make range)</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" name="cfdone" value="">
          </div>
        </div>
        <select class="form-control" name="done" >
          <option value="">Choose Position..</option>
        </select>
      </div>
      <button type="submit" class="btn btn-outline-primary font-weight-bold">Search</button>
      <a href="" class="btn btn-warning"> Reset</a>
    </form>
    <hr>
    <form action="/" method="post">
      <p class="font-weight-bold">Options</p>
      <div class="input-group mb-3 text-center">
        <div class="input-group-prepend">
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" name="cpid" value="" class="custom-control-input" id="options1" checked>
            <label class="custom-control-label" for="options1">ID</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" name="cptracker"  value="" class="custom-control-input" id="options2" checked>
            <label class="custom-control-label" for="options2">Tracker</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" name="cpsubject" value="" class="custom-control-input" id="options3" checked>
            <label class="custom-control-label" for="options3">Subject</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" name="cpdescription" value="" class="custom-control-input" id="options4" checked>
            <label class="custom-control-label" for="options4">Description</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" name="cpstatus" value="" class="custom-control-input" id="options5" checked>
            <label class="custom-control-label" for="options5">Status</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" name="cpprio" value="" class="custom-control-input" id="options6" checked>
            <label class="custom-control-label" for="options6">Priority</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" name="cpassignee" value="" class="custom-control-input" id="options7" checked>
            <label class="custom-control-label" for="options7">Assignee</label>
          </div>
        </div>
        <div class="input-group mb-3 mt-2 text-center">
            <div class="input-group-prepend">
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" name="cpstartdate" value="" class="custom-control-input" id="options8" checked>
                <label class="custom-control-label" for="options8">Start Date</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline ">
                <input type="checkbox" name="cpduedate" value="" class="custom-control-input" id="options9" checked>
                <label class="custom-control-label" for="options9">Due Date</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" name="cpestimatetime" value="" class="custom-control-input" id="options10" checked>
                <label class="custom-control-label" for="options10">Estimated Time</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" name="cdpdone" value="" class="custom-control-input" id="options11" checked>
                <label class="custom-control-label" for="options11">Done</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" name="cpfile" value="" class="custom-control-input" id="options12" checked>
                <label class="custom-control-label" for="options12">File</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" name="cpauthor" value="" class="custom-control-input" id="options15" checked>
                <label class="custom-control-label" for="options15">Author</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" name="cpparenttask" value="" class="custom-control-input" id="options19" checked>
                <label class="custom-control-label" for="options19">Parent Task</label>
              </div><br>
            </div>
      </div>
      <button type="submit" class="btn btn-outline-primary font-weight-bold">Apply</button>
    </form> <br>
  </div>
  <hr>
  <a href="/projects/issues/<%= projectid %>/add" class=" btn btn-info list-inline"><i class="list-inline-item" data-feather="plus-square"></i>
    Issue</a>
    <br>
    <br>
    <div class="table-responsive">
    <table class=" table table-striped">

      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Tracker</th>
          <th scope="col">Subject</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Priority</th>
          <th scope="col">Assigne</th>
          <th scope="col">Start Date</th>
          <th scope="col">Due Date</th>
          <th scope="col">Estimated Time</th>
          <th scope="col">Done</th>
          <th scope="col">File</th>
          <th scope="col">Author</th>
          <th scope="col">Parent Task</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
       <% issues.forEach(issue => { %>
        <tr>
          <th scope="row"><%= issue.issueid %></td>
          <td><%= issue.tracker %></td>
          <td><%= issue.subject %></td>
          <td><%= issue.description %></td>
          <td><%= issue.status %></td>
          <td><%= issue.priority %></td>
          <td><%= issue.fullname %></td>
          <td><%= issue.startdate %></td>
          <td><%= issue.duedate %></td>
          <td><%= issue.estimatedate %></td>
          <td><%= issue.done %>%</td>
          <td><%= issue.files %></td>
          <td><%= issue.author %></td>
          <td><%= issue.parenttask %></td>
          <td><a href='/projects/issues/<%= issue.projectid %>/edit/<%= issue.issueid %>' class="btn btn-outline-success">Edit</a>&nbsp
            <a href='/projects/issues/<%= issue.projectid %>/delete/<%= issue.issueid %>' class="btn btn-outline-danger">Delete</a></td>
        </tr>
      <% }) %>

      </tbody>
    </table>

  </div>
  </div>
</body>
<%- include('../../partials/footer'); %>