<%- include('../../partials/header'); %>

<body>
  <%- include('../../partials/navbar'); %>
  <h1 class="display-5 m-4 text-center font-weight-bolder">Project Details</h1>
  <div class=" container bg-light form p-3 mb-5">

<% include ../../partials/detailbar %>
    <form action="" method="get" class="mt-4">
      <label for="" class="font-weight-bold">ID</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" name="cfid" value="true" <%= input.cfid == 'true' ? 'checked' : ''%>>
          </div>
        </div>
        <input type="text" class="form-control" name="id" value="<%= input.id %>" placeholder="ID">
      </div>
      <label for="" class="font-weight-bold">Subject</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" name="cfsubject" value="true" <%= input.cfsubject == 'true' ? 'checked' : '' %>>
          </div>
        </div>
        <input type="text" class="form-control" name="subject" value="<%= input.subject %>" placeholder="Subject">
      </div>
      <label for="" class="font-weight-bold">Tracker</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" name="cftracker" value="true" <%= input.cftracker == 'true' ? 'checked' : '' %>>
          </div>
        </div>
        <select class="form-control" name="tracker" >
          <option value="" disabled selected>Choose Tracker..</option>
          <option value="Bug" <%= input.tracker == 'Bug' ? 'selected' : '' %>>Bug</option>
          <option value="Feature" <%= input.tracker == 'Feature' ? 'selected' : '' %>>Feature</option>
          <option value="Support"<%= input.tracker == 'Support' ? 'selected' : '' %>>Support</option>
        </select>
      </div>
      <label for="" class="font-weight-bold">Done Percentage</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" name="cfdone" value="true" <%= input.cfdone == 'true' ? 'checked' : '' %>>
          </div>
        </div>
        <select class="form-control" name="done" id="" >
          <option value="" disabled selected>Choose Percentage..</option>
          <option value="0"  <%= input.done == 0   ?  'selected'   : ''  %>>0%</option>
          <option value="10" <%= input.done == 10  ?  'selected'   : ''  %>>10%</option>
          <option value="20" <%= input.done == 20  ?  'selected'   : ''  %>>20%</option>
          <option value="30" <%= input.done == 30  ?  'selected'   : ''  %>>30%</option>
          <option value="40" <%= input.done == 40  ?  'selected'   : ''  %>>40%</option>
          <option value="50" <%= input.done == 50  ?  'selected'   : ''  %>>50%</option>
          <option value="60" <%= input.done == 60  ?  'selected'   : ''  %>>60%</option>
          <option value="70" <%= input.done == 70  ?  'selected'   : ''  %>>70%</option>
          <option value="80" <%= input.done == 80  ?  'selected'   : ''  %>>80%</option>
          <option value="90" <%= input.done == 90  ?  'selected'   : ''  %>>90%</option>
          <option value="100"<%= input.done == 100 ?  'selected'   : ''  %>>100%</option>
        </select>
      </div>
      <button type="submit" class="btn btn-outline-primary font-weight-bold">Search</button>
      <a href="/projects/issues/<%= projectid %>" class="btn btn-warning"> Reset</a>
    </form>
    <hr>
    <form action="/projects/issues/<%= projectid %>" method="post">
      <p class="font-weight-bold">Options</p>
      <div class="input-group mb-3 text-center">
        <div class="input-group-prepend">
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" name="cpid" value="true" class="custom-control-input" id="options1" <%= options.cpid == 'true' ? 'checked' : '' %>>
            <label class="custom-control-label" for="options1">ID</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" name="cptracker"  value="true" class="custom-control-input" id="options2" <%= options.cptracker == 'true' ? 'checked' : '' %>>
            <label class="custom-control-label" for="options2">Tracker</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" name="cpsubject" value="true" class="custom-control-input" id="options3" <%= options.cpsubject == 'true' ? 'checked' : '' %>>
            <label class="custom-control-label" for="options3">Subject</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" name="cpdescription" value="true" class="custom-control-input" id="options4" <%= options.cpdescription == 'true' ? 'checked' : '' %>>
            <label class="custom-control-label" for="options4">Description</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" name="cpstatus" value="true" class="custom-control-input" id="options5" <%= options.cpstatus == 'true' ? 'checked' : '' %>>
            <label class="custom-control-label" for="options5">Status</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" name="cpprio" value="true" class="custom-control-input" id="options6" <%= options.cpprio == 'true' ? 'checked' : '' %>>
            <label class="custom-control-label" for="options6">Priority</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" name="cpassignee" value="true" class="custom-control-input" id="options7" <%= options.cpassignee == 'true' ? 'checked' : '' %>>
            <label class="custom-control-label" for="options7">Assignee</label>
          </div>
        </div>
        <div class="input-group mb-3 mt-2 text-center">
            <div class="input-group-prepend">
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" name="cpstartdate" value="true" class="custom-control-input" id="options8" <%= options.cpstartdate == 'true' ? 'checked' : '' %>>
                <label class="custom-control-label" for="options8">Start Date</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline ">
                <input type="checkbox" name="cpduedate" value="true" class="custom-control-input" id="options9" <%= options.cpduedate == 'true' ? 'checked' : '' %>>
                <label class="custom-control-label" for="options9">Due Date</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" name="cpestimatetime" value="true" class="custom-control-input" id="options10" <%= options.cpestimatetime == 'true' ? 'checked' : '' %>>
                <label class="custom-control-label" for="options10">Estimated Time</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" name="cdpdone" value="true" class="custom-control-input" id="options11" <%= options.cdpdone == 'true' ? 'checked' : '' %>>
                <label class="custom-control-label" for="options11">Done</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" name="cpfile" value="true" class="custom-control-input" id="options12" <%= options.cpfile == 'true' ? 'checked' : '' %>>
                <label class="custom-control-label" for="options12">File</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" name="cpauthor" value="true" class="custom-control-input" id="options15" <%= options.cpauthor == 'true' ? 'checked' : '' %>>
                <label class="custom-control-label" for="options15">Author</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" name="cpparenttask" value="true" class="custom-control-input" id="options19" <%= options.cpparenttask == 'true' ? 'checked' : '' %>>
                <label class="custom-control-label" for="options19">Parent Task</label>
              </div><br>
            </div>
      </div>
      <button type="submit" class="btn btn-outline-primary font-weight-bold">Apply</button>
    </form> <br>
  </div>
  <hr>
  <a href="/projects/issues/<%= projectid %>/add" class=" btn btn-info list-inline"><i class="list-inline-item" data-feather="plus-square"></i>
    Issue</a>
    <br>
    <br>
    <div class="table-responsive">
    <table class=" table table-striped">

      <thead>
        <tr>
          <% if(options.cpid)           { %> <th scope="col">ID</th>              <% } %>
          <% if(options.cptracker)      { %> <th scope="col">Tracker</th>         <% } %>
          <% if(options.cpsubject)      { %> <th scope="col">Subject</th>         <% } %>
          <% if(options.cpdescription)  { %> <th scope="col">Description</th>     <% } %>
          <% if(options.cpstatus)       { %> <th scope="col">Status</th>          <% } %>
          <% if(options.cpprio)         { %> <th scope="col">Priority</th>        <% } %>
          <% if(options.cpassignee)     { %> <th scope="col">Assigne</th>         <% } %>
          <% if(options.cpstartdate)    { %> <th scope="col">Start Date</th>      <% } %>
          <% if(options.cpduedate)      { %> <th scope="col">Due Date</th>        <% } %>
          <% if(options.cpestimatetime) { %> <th scope="col">Estimated Time</th>  <% } %>
          <% if(options.cdpdone)        { %> <th scope="col">Done</th>            <% } %>
          <% if(options.cpfile)         { %> <th scope="col">File</th>            <% } %>
          <% if(options.cpauthor)       { %> <th scope="col">Author</th>          <% } %>
          <% if(options.cpparenttask)   { %> <th scope="col">Parent Task</th>     <% } %>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
       <% issues.forEach(issue => { %>
        <tr>
          <% if(options.cpid)           { %>  <th scope="row"><%= issue.issueid %></td>  <% } %> 
          <% if(options.cptracker)      { %>  <td><%= issue.tracker %></td>              <% } %> 
          <% if(options.cpsubject)      { %>  <td><%= issue.subject %></td>              <% } %> 
          <% if(options.cpdescription)  { %>  <td><%= issue.description %></td>          <% } %> 
          <% if(options.cpstatus)       { %>  <td><%= issue.status %></td>               <% } %> 
          <% if(options.cpprio)         { %>  <td><%= issue.priority %></td>             <% } %> 
          <% if(options.cpassignee)     { %>  <td><%= issue.fullname %></td>             <% } %> 
          <% if(options.cpstartdate)    { %>  <td><%= issue.startdate %></td>            <% } %> 
          <% if(options.cpduedate)      { %>  <td><%= issue.duedate %></td>              <% } %> 
          <% if(options.cpestimatetime) { %>  <td><%= issue.estimatedate %></td>         <% } %> 
          <% if(options.cdpdone)        { %>  <td><%= issue.done %>%</td>                <% } %> 
          <% if(options.cpfile)         { %>  <td><%= issue.files %></td>                <% } %> 
          <% if(options.cpauthor)       { %>  <td><%= issue.author %></td>               <% } %> 
          <% if(options.cpparenttask)   { %>  <td><%= issue.parenttask %></td>           <% } %> 
          <td><a href='/projects/issues/<%= issue.projectid %>/edit/<%= issue.issueid %>' class="btn btn-outline-success"><i data-feather="edit"></i></a>&nbsp
            <a href='/projects/issues/<%= issue.projectid %>/delete/<%= issue.issueid %>' class="btn btn-outline-danger"><i data-feather="trash-2"></i></a></td>
        </tr>
      <% }) %>

      </tbody>
    </table>
  </div>
  <nav aria-label="Page navigation example" class="mt-4">
    <ul class="pagination justify-content-center">
      <li class="page-item <%= currentPage <= 1 ? 'disabled' : ''%>">
        <a class="page-link" href="<%=url.replace(`page=${currentPage}`,`page=${parseInt(currentPage) - 1}`)%>"
          tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      <% for(let i = 1; i <= totalPages; i++){ %>
      <li class="page-item <%= currentPage == i ? 'active':''%>"><a class="page-link"
          href="<%=url.replace(`page=${currentPage}`,`page=${i}`)%>"><%= i %></a></li>
      <% } %>
      <li class="page-item <%= currentPage >= totalPages ? 'disabled' : ''%>">
        <a class="page-link"
          href="<%=url.replace(`page=${currentPage}`,`page=${parseInt(currentPage) + 1}`)%>">Next</a>
      </li>
    </ul>
  </nav>
  </div>
</body>
<%- include('../../partials/footer'); %>